{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/products/products.css' %}">
<h1>All products:</h1>
    {% if products %}
        <table>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No products added yet.</p>
    {% endif %}
{% endblock %}