<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Web Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        {% if request.session.username %}
            <li><a href="/admin">Admin</a></li>
        {% endif %}
        <hr>
        {% if request.session.username %}
            <p>Hello, {{ request.session.username }}</p>
            <a href="/users/log_out">Log out</a>
        {% else %}
            <li>
                <form method="post" action="/users/log_in/">
                    {% csrf_token %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                    <br>
                    <input type="submit" value="Log in">
                </form>
            </li>
        {% endif %}
        <hr>
    </ul>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>
            Developed by:
            <a href="https://www.linkedin.com/in/valentyn-anzhurov-5260b8169/">
                Valentyn Anhzurov
            </a>
        </p>
    </footer>
</nav>
</body>
</html>